<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title | default: "My Apps" }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>

<body class="home-page">
    <div class="home-container">
        <main class="app-grid">
            {% for app in site.data.apps %}
            <a href="{{ site.baseurl }}/apps/{{ app.slug }}/" class="app-item">
                <div class="app-icon-wrapper">
                    <img class="app-icon" src="{{ app.icon | relative_url }}" alt="{{ app.name }} icon">
                </div>
                <span class="app-name">{{ app.name }}</span>
            </a>
            {% endfor %}
        </main>
    </div>
</body>
</html>
